{% layout "layout.liquid" %}
{% block content %}

<div>
    <h4>Shipping Details</h4>

    Name: {{shipping.name}} </br>
    Address: {{shipping.address}} </br>
    City: {{shipping.city}} </br>
    State: {{shipping.state}} </br>
    Postal Code: {{shipping.postal}} </br>
    Phone Number: {{shipping.phone}} </br>


</div>


<h4>Your Cart</h4>

{% for cartItems in cartItems %}
    <div>
    Name: {{cartItems.name}} </br>
    Description: "{{cartItems.description}}" </br>
    Price: ${{cartItems.price}} </br>
    </div>

{% endfor %}

<h3>Total Price: ${{total}}</h3>

<form action="/checkout/final?_method=PUT" method="POST">
    <input type="submit" value="checkout">
</form>






{% endblock %}