<!-- we're serving block content in layout.liquid -->
<!-- so we need to inform all our blocks(files) -->
{% layout 'layout.liquid'%}

<!-- Start our block content -->
{% block content %}
    <h1>Products Page</h1>
    <div class="container">
        <div class="row">
            {% for product in products %}
            
                <a href="/products/{{product.id}}"> <img src="{{product.img}}" class="img-thumbnail"></a>
                <a href="/products/{{product.id}}"><h3>{{product.name}}</h3></a>
                <p>Description: {{product.description}}</p>
                <p>${{product.price}}</p>
                <a href="/cart/{{product.id}}" action="/cart/{{ product.id }}?_method=PUT" method="POST"><button>Add to Cart</button></a>
                <!-- <p>Inventory: {{product.qty}}</p> -->

            {% endfor %}

            <a href="/products/new">Add a New Product</a>
        </div>
    </div>
{% endblock %}